language: Android
sudo: false
jdk:
  - oraclejdk8
android:
  components:
    - tools
    - platform-tools
    - tools
    - build-tools-25.0.0
    - android-25
    - extra-android-support
    - extra
    - extra-google-m2repository
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-21

  licenses:
    - 'android-sdk-preview-license-52d11cd2'
    - 'android-sdk-license-.+'
    - 'google-gdk-license-.+'

before_script:
  - android list targets
  - ls ../
  - echo n | android create avd -n test -f -t android-21 --abi default/armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

cache:
  directories:
  - $HOME/.m2
  - $HOME/.gradle
  - $HOME/android-sdk/extras/